@media all and (min-width: 50em) {
    .SignUp {
        padding: 60px 0;
    }

    .SignUp form {
        margin: 0 auto;
        max-width: 320px;
        /* padding: 2em; */
    }
}

#su_form *:not(#no_margin){
    margin-bottom: 0.8em;
}

#no_margin{
    margin-bottom: 0;
}