.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons > div {
  display: flex;
  margin: 0.75em;
  border: solid 0.3em gray;
  background: black;
  justify-content: center;
  align-items: center;
}

.headers {
  display: flex;
  width: 100%;
}

/*.icons {
  display: flex;
  flex-wrap: wrap;
  font-size: 5em;
}

.headers {
  display: flex;
  width: 100%;
}

.icons > div {
  margin: 0.2em;
  padding: 0.15em;
  border: solid 0.05em black;
}*/
