.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons > div {
  display: flex;
  margin: 0.75em;
  border: solid 0.3em gray;
  background: black;
  justify-content: center;
  align-items: center;
}

/*.headers {
  display: flex;
  width: 100%;
}*/
