.row{
    margin-bottom:2em;
}

.google_map{
    width:45%;
    margin-right:2%;
    margin-left: 1em;
    float: left;
}
.google_map Map{
   width:100%;
}
.places {
    /* width:40%; */
    margin-left: 3em;
    margin-right: .5em;
    padding: .5em;
    /* max-height: 60%; */
    float: right;
    margin-top: 2em;
    overflow: scroll;
}

div.places{
    height: 60vh;
    width: 38vw;
    overflow-y: auto;
    border: solid .05em rgb(200,200,200);
    border-radius: .7em;
    z-index:4;
}

.clearfix{
    clear:both;
}

.parent{
    /* margin-bottom: 3em; */
}

.favShop{
    margin: 1em;
}

@media screen and (min-width: 950px) {
    .places {
        margin-left: 4em;
    }
  }

@media screen and (min-width: 1200px) {
    .places {
        margin-left: 0em;
    }
  }

  @media screen and (min-width: 1325px) {
    .places {
        margin-left: 3em;
    }
  }

  @media screen and (min-width: 1420px) {
    .places {
        margin-left: 5.3em;
    }
  }